<nav>
  <a href="{{ '/' | relative_url }}">Home</a>
  <a href="{{ '/about/' | relative_url }}">About</a>
  <a href="{{ '/focus/' | relative_url }}">Current Focus</a>
  <a href="{{ '/education/' | relative_url }}">Education</a>
  <a href="{{ '/publications/' | relative_url }}">Publications</a>
  <a href="{{ '/experience/' | relative_url }}">Experience</a>
  <a href="{{ '/toolbox/' | relative_url }}">Toolbox</a>
  <a href="{{ '/portfolio/' | relative_url }}">Portfolio</a>
  <a href="{{ '/hobbies/' | relative_url }}">Hobbies</a>
</nav>
